@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* Font style: Poppins */

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  h1 {
    text-align: center;
    margin: 30px;
  }
  
  h2 { 
    text-align: center;
    background-color: #ce8f8f;
    width: 200px;
    border-style: solid;
    border-width: 0px 1px 3px 3px;
    position: absolute;
    right: -1px;
   }
  .content2 h2 {
       background-color: #d36363;
       border: solid black;
       border-width: 0px 1px 3px 3px;
       color: white;
   }
  .content3 h2 {
       background-color: #fdf7cb;
       border-style: solid;
       border-width: 0px 1px 3px 3px;
   }
  
  
  .content {
    background-color: #808080;
    border: 3px solid black;
    border-style: solid;
    font-weight: 500;
    color: black;
    margin-right: 15px; margin-left: 15px; margin-bottom: 15px;    
    height: 30%;
    position: relative; 
   }
  
  p {
    padding: 10px;
    padding-top: 50px;
  }
  
  /* Responsive Framework. */
  .row {
    width: 100%;
    margin: 0%;
    padding: 20px;
    margin-left: auto; margin-right: 15px; margin-bottom: 15px;
  }
  
  /********** Desktop or larger devices  **********/
  @media (min-width: 992px) {
    .col-lg-4{
      width: 33.33%;
      float: left;
    }
  }
  
  /********** I-PAD devices ***********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-6{
      width: 50%;
      float: left;
    }
    .col-md-12{
      width: 100%;
      float: left;
    }
  }
  
  /********** I-PAD devices  **********/
  @media (max-width: 767px) {
    .content {
      width: 100%;
    }
  }